{% extends "layout.html" %}
{% block body %}
  {% for entry in entries %}
  <dt>Current time is {{ moment().format('MMMM Do YYYY, h:mm:ss a') }}
  <br></br>
<table>
  <tr><td><b>Next workout:</td><td> {{ moment(then, local=True).calendar() }} </td></tr>
    <tr><td><b>Location:</td><td> {{ entry.location }} </td></tr>
      <tr><td><b>Comments:</td><td> {{ entry.comments }} </td></tr>
      </table>
  <br>
  <dt>Better get ready it starts {{ moment(then, local=True).fromNow() }}
  {% endfor %}
{% endblock %}
